.nav{
    width: 100%;
    position: fixed;
    background-color: white;
    transition: all 0.8s ease-in-out;
    z-index: 999;
    height: 60px;
}

header{
    width: 100%;
}

.dnone{
    display: none;
}

.header{
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerfull{
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: space-between;
}

.navbar{
    width: 100%;
    position: fixed;
    background-color: #EEEA64;
    z-index: 999;
    height: 60px;
    padding: 0 0 0 0;
}

.collapse-nav{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #F7008C;
    z-index: 999;
    transition: all 1s ease-in-out;
    padding-bottom: 40px;
}

.collapse-navbar{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #F7008C;
    transition: all 1s ease-in-out;
    z-index: 999;
}

.container-nav {
    width: 98%;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.container-fullnav{
    width: 98%;
    display: flex;
    margin: auto;
    padding-top: 5px;
    justify-content: space-between;
}

.nav-image {
    width: 250px;
}

.fade{
    width: 95% !important;
    height: 90%;
    display: flex;
    flex-flow: column !important;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
}

.fade:not(.show){
    opacity: 1 !important;
}

.navfade{
    font-family: 'Work Sans',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 51px;
    line-height: 60px;
    color: #202020 !important;
    padding-top: 40px;
    padding-bottom: 0;
    opacity: 0.55;
    padding-left: 10px;
    text-transform: capitalize;
}

.navdeskfade{
    font-family: 'Work Sans',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 51px;
    line-height: 60px;
    color: #202020;
    padding-top: 40px;
    opacity: 0.55;
    padding-bottom: 0;
    padding-left: 12.5% !important;
    text-transform: capitalize;
}

.fadein{
    padding-top: 30px;
    width: 100%;
}

.MuiCollapse-container.MuiCollapse-entered{
    height: 100% !important;
}

.MuiCollapse-wrapper{
    height: 100%;
}

.MuiCollapse-wrapperInner{
    height: 100%;
}


/**/

  .pink {
   fill: #EC008C
  }

  .black {
   fill: #202020
  }

  .yellow {
   fill: #EEEA64
  }

  .yellow-gradient-0 {
   fill: url(#paint0_linear)
  }

  .yellow-gradient-1 {
   fill: url(#paint1_linear)
  }

  .black-gradient-0 {
   fill: url(#paint2_linear)
  }

  .black-gradient-1 {
   fill: url(#paint3_linear)
  }

  .white{
      fill: white;
  }

/**/

