.hire{
    width: 100%;
    background-color: #EEEA64;
    display: flex;
    flex-flow: column;
    align-items: center;
    overflow-x: hidden;
    transition: all 2s ease-in-out;
    opacity: 1;
}

.hire-none{
    width: 100%;
    background-color: white;
    display: flex;
    flex-flow: column;
    align-items: center;
    overflow-x: hidden;
    transition: all 2s ease-in-out;
}

.largehire{
    width: 1400px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.largehireabout{
    width: 1400px;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: auto;
}

.hireabout{
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.title-container{
    width: 95%;
    display: flex;
    margin-right: 0 !important;
    justify-content: flex-start;
}

.desktitle-container{
    width: 95%;
    display: flex;
    margin-right: 0 !important;
    justify-content: flex-start;
}

.MuiFormLabel-root{
    font-family: 'Cabin',sans-serif !important;
    text-transform: uppercase;
}

.firstdesk-title{
    text-align: start;
    font-family: 'Cabin', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #202020;
    padding-top: 20px;
    width: 100%;
}

.hire-container{
    width: 95%;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}

.first-box{
    width: 50%;
    display: flex;
    flex-flow: column;
}

.first-box-container{
    width: 95%;
    display: flex;
    flex-flow: column;
}

.first-title{
    text-align: start;
    font-family: 'Cabin', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #202020;
    padding-top: 20px;
}

.first-quote{
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #202020;
    margin-top: 15px !important;
}

.icons{
    width: fit-content;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}

.icons-msg{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
}

.location-title{
    width: 200px;
    margin-top: 0 !important;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #202020;
}

.call-title{
    margin-top: 0 !important;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #202020;
}

.mail-title{
    margin-top: 0 !important;
    word-break: break-all;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #202020;
}

.follow{
    width: 100%;
    display: flex;
    flex-flow: column;
    margin-top: 20px;
}

.social{
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    padding-bottom: 10px;
    align-items: center;
}

.second-box{
    width: 50%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.second-box-container{
    width: 80%;
    display: flex;
    flex-flow: column;
}

.second-title{
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    text-transform: none;
    color: #202020;
    padding-top: 10px;
}

.second-quote{
    font-family: 'Work Sans',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #202020;
    text-transform: capitalize;
    margin-top: 0 !important;
}

.service-title{
    font-family: 'Work Sans',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #202020;
    text-transform: capitalize;
    padding-top: 10px;
    margin-bottom: 0 !important;
    padding-bottom: 10px;
}

.slick-slider{
    width: 99%;
    display: flex;
    margin: auto;
}

/* .slick-track{
    display: block;
    width: 100% !important;
    align-items: center;
} */

.slick-list{
    width: 100%;
}

button.slick-next:before{
    color: black;
    padding-right: 0;
}

button.slick-prev:before{
    color: black;
}

.slideservice{
    padding-top: 10px;
    width: 93%;
    display: flex;
    margin: auto;
}

.careers{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-top: 20px;
}

.careers h1{
    text-align: start;
    white-space: nowrap;
    font-family: 'Cabin', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #202020;
    margin-bottom: 15px !important;
}

.careers a{
    white-space: wrap;
    text-align: start;
    word-break: break-all;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #202020;
    padding-left: 10px;
    word-break: break-all;
}

/* .slick-slide{
    padding-top: 15px;
} */

.serviceslide{
    display: inline-flex !important;
    justify-content: center;
}

.slick-list{
    margin: auto;
}

.slick-arrow{
    color: black;
}

/*Form starts*/

.service-form{
    width: 95%;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: auto;
}

form{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    width: 100%;
    padding-bottom: 20px;
}

.MuiInput-underline:before{
    border-bottom: 1px solid black !important;
}

.textfield{
    width: 75% !important;
    margin-top: 15px !important;
    padding-bottom: 15px !important;
}

.textfieldmob{
    width: 100% !important;
    margin-top: 15px !important;
    padding-bottom: 15px !important;
}

.formbtn{
    background-color: black !important;
    border: 1px solid black !important;
    padding-left: 25.6px;
    padding-right: 25.6px;
    padding-top: 12.8px;
    padding-bottom: 12.8px;
    border-radius: 50px;
    width: fit-content;
    cursor: pointer;
    font-family: 'Cabin', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin-top: 20px;
    margin-bottom: 0;
}

input{
    font-family: 'Cabin',sans-serif;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 19px;
text-transform: none;
color: #000;
}

h1{
    font-family: 'Cabin',sans-serif;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 19px;
text-transform: uppercase !important;
color: red;
margin-top: 0 !important;
margin-bottom: 0 !important;
}

label + .MuiInput-formControl{
    font-family: 'Cabin',sans-serif;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
text-transform: uppercase;
color: black;
}

.footimg img{
    width: 70%;
}

/*Form ends*/

/*MObile starts*/

.hire-mobcontainer{
    width: 95%;
    display: flex;
    justify-content: flex-start;
    margin: auto;
    flex-flow: column nowrap;
}

.first-mobbox{
    width: 100%;
    display: flex;
    flex-flow: column;
}

.first-box-mobcontainer{
    width: 100%;
    display: flex;
    flex-flow: column;
    margin: auto;
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.mobicons{
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}

.icons-mobmsg{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}


.second-mobbox{
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}

.second-mobbox-container{
    width: 100%;
    display: flex;
    flex-flow: column;
}

/*MObile ends*/

/**/

.inputslider{
    display: flex;
    width: 100%;
    align-items: end;
}

.inputslide{
    width: 100%;
    overflow-x: scroll;
    display: flex;
    padding: 3px;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.inputslide::-webkit-scrollbar{
    display: none;
}

.insideslide{
    display: flex !important;
    justify-content: center !important;
    width: 100%;
}

a{
    text-decoration: none !important;
}

.mobimage{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobimage img{
    width: 70%;
}

/**/


/* slider btns*/

.serviceslider-btn{
    background-color: transparent !important;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 95%;
    border-radius: 50px;
    white-space: nowrap;
    cursor: pointer;
    font-family: 'Cabin', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #202020;
    margin-bottom: 5px !important;
    margin-top: 0;
    border: 1px solid #202020 !important;
}

.serviceslider-afterbtn{
    background-color: black !important;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 95%;
    border-radius: 50px;
    white-space: nowrap;
    cursor: pointer;
    font-family: 'Cabin', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 5px !important;
    margin-top: 0;
    border: 1px solid #202020 !important;
}

.inputslider img:last-child{
    margin-left: 10px;
}

.inputslider{
    overflow-x: hidden;
}

.slick-prev, .slick-next{
    height: 30px !important;
    width: 30px !important;
}



/*slider btn ends*/